TELEGRAM_BOT_TOKEN=PUT_YOUR_TELEGRAM_BOT_TOKEN
USER_SERVICE_URL=http://localhost:8000
PROFILE_SERVICE_URL=http://localhost:8001
INTERACTION_SERVICE_URL=http://localhost:8002
RANKING_SERVICE_URL=http://localhost:8003
